@import url(http://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700);

*::-webkit-scrollbar {
	display: none !important;
}

* {
	margin: 0;
	padding: 0;
	scrollbar-width: none !important;
	-ms-overflow-style: none !important;
}

p {
	font-size: 14px;
	line-height: 22.4px;
	color: #6c7279;
}

h1 {
	font-size: 65px;
	color: #2d3033;
}

h2 {
	font-size: 40px;
	color: #2d3033;
}

h3 {
	font-size: 28px;
	color: #2d3033;
	font-weight: 300;
}

h4 {
	font-size: 22px;
	color: #2d3033;
	font-weight: 400;
}

h5 {
	font-size: 14px;
	color: #2d3033;
	text-transform: uppercase;
	font-weight: 700;
}

.btn {
	color: #fff;
	font-size: 13px;
	font-weight: 600;
	border-bottom: 3px solid rgba(255, 255, 255, 0.3);
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	letter-spacing: 3px;
	line-height: 30px;
	display: inline-block;
	text-transform: uppercase;
}

.btn:hover,
.btn:focus {
	color: #fff;
	border-bottom: 3px solid rgba(229, 46, 46, 1);
}

.btn-large {
	padding: 15px 40px;
}

/* Global Styles */
a {
	color: #e84545;
}

a:hover,
a:focus {
	text-decoration: none;
	-moz-transition: background-color, color, 0.3s;
	-o-transition: background-color, color, 0.3s;
	-webkit-transition: background-color, color, 0.3s;
	transition: background-color, color, 0.3s;
}

body {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	color: #6c7279;
}

ul,
ol {
	margin: 0;
	padding: 0;
}

ul li {
	list-style: none;
}

.section {
	padding: 50px 0;
}

.no-padding {
	padding: 0;
}

.no-gutter [class*=col-] {
	padding-right: 0;
	padding-left: 0;
}

/* Banner */
.banner-area {
	position: relative;
}

.banner-bg {
	top: 0;
	left: 0;
	width: 100%;
	z-index: -1;
	height: 100%;
	opacity: 0.7;
	position: absolute;
	background: rgb(27, 19, 19);
}

.banner-content {
	display: flex;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
}

.banner-title {
	margin: 5%;
	color: #fff;
	font-size: 19px;
	font-weight: 100;
	letter-spacing: 21px;
	text-transform: uppercase;
	font-family: "Dosis", sans-serif;
}

/* Countdown */
#countdown {
	padding: 0;
	margin-bottom: 5%;
	position: relative;
	text-align: center;
}

.item {
	padding: 2%;
	color: #fff;
	margin: 0 10px;
	font-size: 13px;
	position: relative;
	text-align: center;
	display: inline-block;
	text-transform: uppercase;
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.item p {
	font-family: "Dosis", sans-serif;
	text-align: center;
	font-weight: bold;
	color: #e84545;
	font-size: 27px;
	padding: 0;
	margin: 0;
}

/* Introduction */
.intro{
	position: relative;
}
.intro-bg{
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	z-index: -1;
	position: absolute;
	background-size: cover;
	background-color: #eee;
	-o-background-size: cover;
	background-position: 50% 0;
	-moz-background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-image: url('../images/backgrounds/parallax-bg.jpg');
}
.intro-area{
	padding: 5% 0;
	background-color: rgba(255, 255, 255, 0.9);
}
.intro h2 {
	font-size: 17px;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-family: "Dosis", sans-serif;
}

.intro p {
	font-size: 15px;
	font-weight: 300;
	line-height: 27px;
	letter-spacing: 1px;
}

/* Footer */
.footer {
	text-align: left;
	background-color: #181818;
	padding: 50px 0 50px 0;
}
.footer-socials{
	margin: 1% 0;
}
.footer-socials a{
	width: 30px;
	height: 30px;
	font-size: 20px;
	border: 1px solid;
	text-decoration: none;
	display: inline-block;
}
.footer-socials a:hover{
	color: white;
}
/* responsive */
@media screen and (max-width: 767.99px) {
	.intro-content {
		text-align: center;
	}
}